<form th:action="@{/fornecedor}" th:object="${filter}" method="GET" id="form-busca-fornecedor">
    <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Buscar fornecedor"
               autofocus="autofocus"
               th:field="*{nome}"
               id="input-busca-fornecedor"/>

        <div class="input-group-btn">
            <button class="btn btn-default"
                    type="submit"
                    id="btn-buscar-fornecedor">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>
